
body {

  padding: 0px;
  margin: 0px;
  font-family: alternate-gothic-no-1-d, sans-serif;
  font-style: normal;
  font-weight: 400;

}

h1 {
  margin: 0px;
}

h2 {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.header {
  text-align: center;
  background-color: purple;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  margin: 0px 20px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.left {
    width: 50%;
    float: left;
}

.info {
    margin: 20px 0px 20px 20px;
}

.home-link {
    font-size: 40px;
    color: purple;
}

.map {
  width: 50%;
  float: left;
  text-align: center;
}


.transit-map {
    width: 90%;
    height: 90%;
    border: 1px solid black;
}


.bottom-bar {
    clear: both;
    background-color: purple;
    text-align: center;
    color: white;
    padding: 20px 0px;
    border-top: 30px solid white;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

/* Info page  */

.info-header {
  margin: 25px 0px 0px 2.5%;
  text-decoration: underline;
  font-size: 1.5em;
}

.tips-text {
  margin: 12px 0px;
  font-size: 26px;
}

.schedule-link {
  font-size: 40px;
  margin: 40px 25%;
}

.purple-links {
  color: purple;
}

.purple-links {
    color: purple;
}

.L-map {
  width: 60%;
  border: 1px solid black;
}

.Bus-map {
  width: 87%;
}

.CTA-map {
  width: 87%;
  border: 1px solid black;
}

.Metra-map {
  width: 57%;
  border: 1px solid black;
}

.insta {
  width: 40%;
  float: left;
  text-align: center;
  margin: 20px 0px 0px 60px;
}

#blue_ventra{
margin: 10px;
float: left;
width: 45%;
height: 50%;
}

#purple_ventra{
margin: 10px;
float: right;
width: 45%;
height: 50%;
}

.cta-insta {
  width: 100%;
}

.metra-video{
margin: 20px 0px 0px 0px;
text-align: center;
}

/* Schedule page  */

.table-box{
  padding-left:18px;
  padding-top: 10px;
}

.button-box{
  padding-bottom:10px;
  padding-top: 20px;
}

.table {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #3A3A3A;
  border-collapse: collapse;
}

.table th {
border-width: 1px;
padding: 12px;
font-size: .94em;
border-style: solid;
border-color: #3A3A3A;
background-color: purple;
color: white;
}

.table td {
border-width: 1px;
padding: 12px;
font-size: .94em;
border-style: solid;
border-color: #3A3A3A;
background-color: #ffffff;
padding-right: 20px;
}

.purple-box{
  text-align: right;
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  padding-top: 10px;
  width: 40%;
  margin-bottom: 10px;
  background-color: #f1ecd9;
}

#LSched-purple-box{
  width: 30%;
}

#campus-purple-box{
  width: 30%;
}

.starting-location{
  padding-bottom: 10px;
}

tr { display: block; float: left; }
th, td { display: block; }
